*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.customer-info{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;

}
#appoint-info{
  display: flex;
}
.appoint,.email,.phone{
  font-weight: bold;
}
#mail-info{
  display: flex;
}

#phone-info{
  display: flex;
}
.order-info{
  display: flex;
  border: 2px solid black;
  margin-top: 10px;
  padding: 20px;
  
}
.product-list{
  display: flex;
  border: 2px solid black;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
}
img{
  width: 20vw;
  height: 20vh;
  border-radius: 10px ;
}
.main-container{
  display: flex;
  flex-direction: column;
  margin: 10px;
  
}
.item{
  margin: 0 50px;
}
.status,.door,.time{
  font-weight: bold;
}
.status{
  margin-left: -12px;

}
.item2{
  margin: 0 5px;
}
.order-info{
  background-color: rgb(228, 226, 226);
}
#bolt{
  margin-top: -60px;
}